@font-face {
    font-family: 'FuturaStdHeavy';
    src: url('fonts/FuturaStdHeavy.eot');
    src: url('fonts/FuturaStdHeavy.eot') format('embedded-opentype'),
         url('fonts/FuturaStdHeavy.woff2') format('woff2'),
         url('fonts/FuturaStdHeavy.woff') format('woff'),
         url('fonts/FuturaStdHeavy.ttf') format('truetype'),
         url('fonts/FuturaStdHeavy.svg#FuturaStdHeavy') format('svg');
}
